body {
  font-family: sans-serif;
  text-align: center;
}

.main-area {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.box {
  flex: 1;
  text-align: center;
}

form {
  display: block;
  width: 100%;
}

.post {
  border: solid 2px black;
  margin: 7px;
  box-sizing: border-box;
  min-height: 200px;
}
